body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

/* Navigation bar */
.navbar {
    background-color: black;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: beige;
    left: 0;
    right: 0;
    padding: 10px;
    text-decoration: none;
}

.logo a {
    color: beige;
    text-decoration: none;
    margin: 0px 5px;
}

.menu a {
    color: beige;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 20px;
}

.menu a:active {
    color: #87d5ec;
}

.menu a:hover {
    color: #87d5ec;
}

/* Home Page CSS */
.main {
    padding: 85px 24px 96px;
    
}
.home{display: flex;}
.about h1 {
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ff0078;

}

.description {
    width: 70%;
}

.description h1 {
    color: #138ce5;
    font-size: 25px;
}

.description p {
    text-align: justify;
    font-size: 18px;

}

.quote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0078;
    font-size: 40px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 4em;
    font-style: italic;

}



.photo {
    width: 30%
}

.photo img {
    width: 250px;
    height: 300px;
    padding: 0px 15px;

}

/* About Page CSS */
.interest {
    display: inline-flex;
}

.info {
    margin: 10px;
}

.interest img {
    height: 170px;
    width: 270px;
    border: 2px double aliceblue;
    box-shadow: 3px 3px 3px 3px #918787;
}

.interest p {
    text-align: justify;
    margin: 0;
    font-size: 18px;
}

.hobbies h2 {
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    margin: 2px 10px;
    color: #138ce5;

}

/* Portfolio Page CSS */
.portfolio h1 {
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ff0078;
}

.portfolio h2 {
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    color: #138ce5;

}

.portfolio p {
    text-align: justify;
    margin: 0;
    font-size: 18px;
}

.project {
    display: inline-flex;
}

.project img {
    height: 170px;
    width: 270px;
    border: 2px double aliceblue;
    box-shadow: 3px 3px 3px 3px #918787;
}

/* Contact Page CSS */
.contact-section {
    padding: 30px 0 50px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ff0078;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 880px;
    height: 450px;
    text-align: left;
    padding: 10px 0;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.content label {
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round';
}

.contact-section form .id {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    margin: 0 auto;
}

.contact-section form .id .name,
.contact-section form .id .email {
    width: 100%;
}

.contact-section form .id .name label {
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round';
}
input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    overflow: auto;
    line-height: 1.15;
    margin: 0;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    
  }
.contact-section form .id .name input[name="email"],
.contact-section form .id .name input[name="name"],
.contact-section form .id .email input[name="email"],
.contact-section form .id .email input[name="name"] {
    width: 100%;
    height: 40px;
}

.content textarea {
    width: 100%;
    resize: none;
}

.submit{
    text-align: center;
}
button {
    margin: 0;
    background: #e74c3c;
    padding: 8px 77px;
    border: 1px solid #e74c3c;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    transition: all .3;
    color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
/* .rainbow-5:hover{
    background-image:     linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
      
      
      
     );
   animation:slidebg 2s linear infinite;
 }
 @keyframes slidebg {
  to {
    background-position:20vw;
  }
} */

.submit button:hover {
    background: none;
    color: #e74c3c;
    border: 1px solid rgba(0, 0, 0, .7);
}

/* Footer CSS */
.footer {
    background: black;
    max-width: 100%;
    display: flex;
    padding: 25px 10px;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10px;
    right: 0;
}

.footer a {
    padding: 0;
    font-size: 25px;
}